
/*  RESPONSIVE */
@media (max-width: 1463px) { 
.themeSwitch {
  top: 10px;
  left: 320px;
}
}

@media (max-width: 966px) {
.themeSwitch {
  top: 10px;
  left: 250px;
}

}

@media (max-width: 900px) {
.themeSwitch {
     top: 13px;
      right: 80px;
  

}
  
  .menu-btn {
    display: block;
  }
  .loader img {
    width: 100%;
  }

    .nav-links a {  
font-family: Arial, Helvetica, sans-serif;
font-size: 1.4rem;
    }
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
background:rgba(0, 0, 0, 0.083);
    flex-direction: column;
    width: 200px;
    display: none;
    padding: 1rem;
  }

  .nav-links.active {
    display: flex;
  }
.hero-container {
  margin-top: 80px;

}
  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-buttons {
    justify-content: center;
  }
  .social {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;

}
 .project-card {
    grid-template-columns: 1fr; 


  }
      .project-content  {
      text-align: center;
      align-items: center;
      align-self: center;
      width: 100%;
    }
}


@media (max-width: 600px) {

  .section-title {
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.section-text {
  max-width: 700px;
  margin: auto;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.7rem;
}

.project-content p {
  font-size: 1.3rem;
}


}


@media (max-width: 500px) {
  .hero-text h1 {
  font-size: 2rem;
}
.logo {
  font-size: 18px;
}
.hero-text span {
  color: rgb(0, 0, 255);
}

.hero-text h2 {
  margin: 1rem 0;
  font-weight: 400;

  font-size: 2rem;
  font-weight: 600;
}

.hero-text p {
  max-width: 500px;
  font-size: 1.3rem;
}
  

.hero-buttons {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

/* BUTTONS */
.btn {
  padding: 15px 20px;
  border-radius: 8px;
  transition: 0.3s;
}


.project-content h3 {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}


.project-content p {
  font-size: 1rem;
  line-height: 1.5rem;
}
}

@media (max-width: 480px) { 

 .themeSwitch {
      height: 40px;
      width: 40px;
      padding: 0;
      border-radius: 50%;
      background-color: white;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      position: fixed  ;
      top: 13px;
      right: 80px;
  
   
     
      
    }
}


@media(max-width:360px) {
  .themeSwitch {
  top: 10px;
  left: 200px;
  }
  #typed {
  font-size: 29px;
}
  

}